{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap" rel="stylesheet">
    <link href="{% static "css/style_1.css" %}" rel="stylesheet">
</head>
<body>
    <div class="first-block">
        <div class="red-div">
            <a href="https://www.lamoda.by/p/rtlaam986501/bags-nike-ryukzak/" class="link-to red">HELLO</a>
        </div>
        <div class="orange-div">
            <a href="#" class="link-to orange">MY</a>
        </div>
        <div class="yellow-div">
            <a href="#" class="link-to yellow">FRIEND</a>
        </div>
        <div class="green-div">
            <a href="#" class="link-to green">U</a>
        </div>
        <div class="blue-div">
            <a href="#" class="link-to blue">R</a>
        </div>
        <div class="purple-div">
            <a href="#" class="link-to purple">GAY</a>
        </div>
    </div>
    <div class="list-div">
        <div class="list-name">
            <h1 class="name list">LISTS</h1>
        </div>
        <div class="list-text">
            <ul>
            <li>LET'S</li>
            <li>CELEBRATE</li>
            <li>AND</li>
            <li>...</li>
        </ul>
        </div>
    </div>
    <div class="table-div">
        <div class="table-name">
            <h1 class="name table-h1">TABLES</h1>
        </div>
        <div class="table-text container">
            <table class="table table-color">
                <tr>
                    <td>Hello</td>
                    <td>U</td>
                    <td>R</td>
                    <td>Gay</td>
                </tr>
                <tr>
                    <td>Gay</td>
                    <td>R</td>
                    <td>U</td>
                    <td>Hello</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="image-div">
        <div class="image-name">
            <h1 class="name image">IMAGES</h1>
        </div>
        <div class="image-text">
            <img src="https://coub-anubis-a.akamaized.net/coub_storage/coub/simple/cw_timeline_pic/9ed1c243106/45cfbf268e4227eb1b92d/1583741867_image.jpg" alt="hello u r gay" class="image-1" title="AND HE IS GAY 2">
        </div>
    </div>
    <div class="cascade-div">
        <div class="cascade-name">
            <h1 class="name cascade">CASCADE</h1>
        </div>
        <div class="cascade-text">
            <select name="hello u r gay" id="">
                <option>Hello</option>
                <option>U</option>
                <option>R</option>
                <option>Gay</option>
            </select>
        </div>
    </div>
    <div class="audio-div">
        <div class="audio-name">
            <h1 class="name audio">AUDIO</h1>
        </div>
        <div class="audio-text">
            <audio controls>
                <source src="https://www.computerhope.com/jargon/m/example.mp3" />
            </audio>
        </div>
    </div>
    <div class="video-div">
        <div class="video-name">
            <h1 class="video name">VIDEO</h1>
        </div>
        <div class="video-text">
            <video controls class="video-settings">
                <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/mp4">
            Your browser does not support the video tag.
    </video>
        </div>
    </div>
    <div class="button-div">
        <div class="button-name">
            <h1 class="button name">BUTTON</h1>
        </div>
        <div class="button-text">
            <a target="_blank" href="https://www.youtube.com/watch?v=fUdsmUbs3s0&ab_channel=KebabRemovalUnit">
                <button type="button" class="btn btn-hello">HELLO U R GAY</button>
            </a>
        </div>
    </div>
</body>
</html>